<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
     <script src="https://kit.fontawesome.com/9ed08eeeb8.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This application provides real time weather forecast to the user. It user mapbox's geocoding API to convert the address provided to appropriate co-ordinates. Then using the dark sky API it renders the forcast information.</p>
    </div>
    
    {{>footer}}
</body>

</html>