<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <script src="https://kit.fontawesome.com/9ed08eeeb8.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>