<header>
    <h2><a href="https://phantom-chat-app.herokuapp.com"><i class="fas fa-comments"></i>Join Chat Room</a></h2>
    <h1>{{title}}</h1>
    <a href="/">Forecast</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>