body {
    background-image:url('../img/back.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:cover;
    font-family: arial;
    /* max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: bold */

    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    
}

.main-content {
    text-align: center;
    /* flex-grow: 1; */
    font-size: 16px;
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    max-width: 500px;
    min-width: 400px;
    min-height: 350px;
    /* width: 550px;
    height: 800px; */
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    position: fixed;
    bottom: 0;
    width: 34%;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 5vh;
    margin-bottom: 16px;
}

header a {
    color: #7C5CBF;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    color: #6b47b8;
}

header {
    text-align: center;
}

.portrait {
    width: 250px;
}


input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}
button:hover {
    background: #6b47b8;
}

footer p {
    color : rgb(253, 252, 252);
}